<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Microsserviço de Timestamp</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <div class="container">
        <div class="timestamp">
            <h1>Microsserviço de Timestamp</h1>
            <form onsubmit="updateUrl(event)">
                <input type="text" id="date" value="" placeholder="Insira a Data" class="pipocasalgada">
                <select id="fusohorario" required="required">
                    <option value="">Escolha um Fuso-Horário</option>
                    <option value="-12">UTC -12:00</option>
                    <option value="-11">UTC -11:00</option>
                    <option value="-10">UTC -10:00</option>
                    <option value="-9">UTC -09:00</option>
                    <option value="-8">UTC -08:00</option>
                    <option value="-7">UTC -07:00</option>
                    <option value="-6">UTC -06:00</option>
                    <option value="-5">UTC -05:00</option>
                    <option value="-4">UTC -04:00</option>
                    <option value="-3">UTC -03:00</option>
                    <option value="-2">UTC -02:00</option>
                    <option value="-1">UTC -01:00</option>
                    <option value="0">UTC +00:00</option>
                    <option value="1">UTC +01:00</option>
                    <option value="2">UTC +02:00</option>
                    <option value="3">UTC +03:00</option>
                    <option value="4">UTC +04:00</option>
                    <option value="5">UTC +05:00</option>
                    <option value="6">UTC +06:00</option>
                    <option value="7">UTC +07:00</option>
                    <option value="8">UTC +08:00</option>
                    <option value="9">UTC +09:00</option>
                    <option value="10">UTC +10:00</option>
                    <option value="11">UTC +11:00</option>
                    <option value="12">UTC +12:00</option>
                </select>
                <input type="submit" value="Enviar" class="botao">
            </form>
        </div>

        <div class="diff">
            <h1>Calcular a diferença entre duas datas</h1>
            <form onsubmit="updateUrl2(event)">
                <input type="text" id="date1" value="" placeholder="Insira a Data 1" class="pipocadoce">
                <input type="text" id="date2" value="" placeholder="Insira a Data 2" class="pipocadoce">
                <input type="submit" value="Calcular" class="botao">
            </form>
        </div>
    </div>
    <div id="mensagem-erro" style="position: absolute; margin-top: 95vh; left: 25%; margin-right: 20%;"></div>
</body>

</html>